.container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 2px solid gray;
}

.form__element {
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.form__label {
  margin-right: 20px;
}

.form__button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}
