<div class="todos">
  <app-todosearch
    (filterEvent)="filterItemEvent($event)"
    (searchEvent)="searchItemEvent($event)"
  ></app-todosearch>
  <ng-container *ngIf="filteredTodos?.length">
    <app-todoitem
      *ngFor="let todo of filteredTodos"
      [item]="todo"
      (changeStatusEvent)="changeStatusEvent(todo, $event)"
      (deleteItemEvent)="deleteItemEvent($event)"
    >
    </app-todoitem>
  </ng-container>
  <div *ngIf="!filteredTodos?.length">Нет данных</div>
  <app-todoform
    [items]="todos"
    (newEvent)="processEvent($event)"
  ></app-todoform>
</div>
